body {
 background-image: url("textura.jpg");

}

h1{
	color: rgb(43,0,251);
	background-color: rgb(7,24,86);
	text-align: center;
}

h3{
	color: rgb(255,255,255);
	text-align: center;
}

p{
	color: rgb(255,255,255);
	border: dotted;
	border-color: rgb(0,0,0);
}

.img1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.img2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

table{
	border: 1px solid #000;
	/*para quitarle los separadores a las celdas*/
	border-collapse: collapse;
	background: rgb(230,230,230);
	margin: auto;
	width: 100%

}

table td{
	border: 1px solid #000;
	padding: 20px;
	text-align: center;
}

table tr:hover{
	background: #ccc;
}

table td:hover{
	background: #000;
	color:white;
}


a{
	text-align:center;
	display:block;
	background-color: rgb(43,0,251);
	color: rgb(255,255,255);
	
}
form{
	padding-left: 2%;
	padding-top: 1%;
	border: 1px solid white;
	width: 20%;
	margin: 20px;
	padding: 20px;
}
label{
	font-size: 12px;
	display: block;
	width: 100px;
}

input{
	margin-bottom: 20px;
	width: 100%;
}

/*para que el usuario sepa donde esta escribiendo*/
input:focus{
	border: 1px solid #1668c4;
}